.tabs {
  display: flex;
  background-color: #fadb4071;
  border-radius: 3rem;

  .tab--button {
    height: 3.5rem;
    width: 12rem;
    border-radius: 3rem;
    border: none;
    font-size: 1.1rem;
    background-color: transparent;
  }
}

.tab--container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  height: calc(100vh - 12rem);
}

.active {
  background-color: #fadc40;
  font-weight: bold;
}
