.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 8%;

  .skills--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    aside {
      width: 40%;

      p {
        margin-top: 20px;
      }
    }
  }

  .skill-list-container {
    display: flex;
    height: 40%;
    width: 60%;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;

    .skill--component {
      height: 2.5rem;
      padding: 0 20px;
      display: flex;
      align-items: center;
      gap: 10px;
      box-shadow: 2px 2px 10px rgb(196, 196, 196);
      border-radius: 50px;

      img {
        height: 1.4rem;
      }

      span {
        font-size: 0.9rem;
        font-weight: 500;
      }
    }
  }
}
