.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;

  .title {
    font-size: 2rem;
    color: #020051;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: pointer;
    text-decoration: underline;
  }

  ul {
    display: flex;
    gap: 3rem;

    .nav--item {
      font-size: 1rem;
      letter-spacing: 1px;
      text-transform: capitalize;
      transform: translateY(-50px);

      &:hover {
        .underline {
          transition: 0.3s;
          width: 100%;
        }
      }

      a {
        color: rgb(107, 107, 107);

        &:hover {
          color: #020051;
          transition: 0.3s;
        }
      }

      .underline {
        margin-top: 5px;
        height: 2px;
        width: 0;
        border-radius: 10px;
        background-color: #020051;
      }
    }
  }
}
