.skills-pill-container {
  display: flex;
  position: absolute;
  z-index: 10;
  margin: 0;
  top: 80px;
  left: 75px;

  .skills--pill {
    padding: 0.7rem 1.5rem;
    background-color: #fff;
    box-shadow: 3px 5px 15px #b4b4b4;
    border-radius: 40px;
    margin: 0;
    font-size: 1.1rem;
    text-transform: capitalize;
    display: flex;
    align-items: center;

    img {
      height: 24px;
      margin-right: 10px;
    }
  }

  .dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #1af9df;
    margin-left: 5px;
  }
}

.dot-bottom {
  align-items: flex-end;
}

.dot-center {
  align-items: center;
}
.dot-top {
  align-items: flex-start;
}
